* {box-sizing: border-box;
margin: 0;
padding: 0;}
body{
    background-color: #9F9F9F;
}
main{
    /* display: flex;
    align-items: center; */
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
}
.section-title{
    margin-bottom: 20px;
}
.container{
    background-color: #FFFFFF;
    /* width: 870px; */
    width: 100%;
    height: 590px;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.top-players{
    margin-bottom: 20px;
}
.section-title{
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
}
/*---------
 top blogs 
------------*/
.top-blogs{
    padding-top: 20PX;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-author{
    color: #9F9F9F;
}
.author{
    color: #562EFF;
}
/*-------------
 latest courses 
 --------------*/
 .courses{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 24px;
 }
 .course-container{
     background-color: #FFFFFF;
     /* width: 900px; */
     width: 100%;
     height: 270px;
     padding-top: 30px;
     padding-left: 30px;
     border-radius: 10px;
 }
 .course-banner img{
     width: 224px;
     height: 104px;
 }
 .fa-star.filled{
     color: #FFC014;
 }
 .fa-star.empty{
     color: #AEAEAE;
 }
 .course-duration{
     color: red;
     background-color: rgba(170, 113, 113, 0.493);
     width: 100px;
     height: 15px;
     border-radius: 8px;
     justify-content: center;
 }
 /* .information{
     background-color: rgba(170, 113, 113, 0.493);
     width: 30px;
     height: 10px;
     border-radius: 5px;
 } */
 @media (max-width:688px) {
     main{
         width: auto;
     }
     .section-title{
         margin-bottom: 20px;
     }
    .players{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
        /* background-color: red; */
    }
    .top-blogs{
        margin-top: 20px;
    }
    .blogs{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
        /* background-color: red; */
    }
    .courses{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
        /* background-color: red; */
    }
    .container{
        width: 400px;
        height: 1400px;
    }
    .course-container{
        width: 400px;
        height: 680px;
    }
    .blog{
        display: flex;
        flex-direction: column;
    }

 }