@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*-------------------------
 common style and utilities 
 --------------------------*/
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{   
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 13px;
}
/*----------------------
 top players grid column 
 ----------------------*/
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/*------------
 top blogs 
 -------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;    
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-info a{
    text-decoration: none;
}
.blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog a{
    color: #562EFF;
    font-size: 16px;
}
.blog-author{
        color: #9F9F9F;
        font-size: 16px;
}
/*-----------------
 latest courses 
------------------*/
.course-container{   
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.course{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
/* .course{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
} */
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
/* .ratings{

} */
.course-duration{
    color: red;
    background-color: rgba(241, 120, 120, 0.459);
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
/*------------
 media queries 
 -------------*/
 @media only screen and (max-width:688px) {
     .players, .blogs, .course{
         grid-template-columns: repeat(1, 1fr);
     }
     .blog-info, .course-info{
        grid-template-columns: repeat(1, 1fr);
     }
 }